---
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title="/blog">
  <div class="prompt">cat blog.txt</div>
  <div>
    <h2>Posts</h2>
    <div class="section-content">
      <ul class="posts">
        {
          allPosts.map((post) => (
            <li class="post-item">
              <div class="post-item-meta">
                <a class="post-item-title" href={post.url}>
                  {post.frontmatter.title}
                </a>
                <div class="post-item-tags">
                  {post.frontmatter.tags.map((tag) => (
                    <a href={`/blog-${tag}`} class="tag">{tag}</a>
                  ))}
                </div>
              </div>
              <div class="post-item-date">07 Nov 2024</div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>

<style>
  .posts {
    list-style: none;
  }

  .post-item {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 var(--space-2) 0;

  }
  .post-item-title {
    margin-right: var(--space-4);
    margin-bottom: var(--space-1);
  }

  .post-item-meta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .post-item-date {
    white-space: nowrap;
    margin-bottom: var(--space-1);
  }

  .post-item-tags {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--space-1);

  }
  .post-item-tags .tag {
    margin-right: var(--space-1);
  }
</style>
