---
import Layout from "../layouts/Layout.astro";
---

<Layout title="/home">
  <div class="prompt">cat home.txt</div>
  <div class="command-output">
    <h2>Aziez Al Fauzi</h2>
    <div class="section-content">
      <p>
        Hey! 👋 I'm a Frontend Developer with 5 years under my belt, mainly
        working with React and TypeScript.
      </p>
      <p>
        These days, I'm diving into Elixir (Phoenix) and Japanese! This site is
        my personal stash of helpful dev stuff.
      </p>
      <br />
      <p>Find me on <a href="">/linkedin</a> or <a href="">/github</a></p>
    </div>
  </div>
</Layout>

<style></style>
