<ul>
  <li><a href="/">/home</a></li>
  <!---   <li><a href="/blog">/blog</a></li> --->
  <!-- <li><a href="/notes">/notes</a></li> -->
  <li><a href="/projects">/projects</a></li>
  <li><a href="/bookmarks">/bookmarks</a></li>
  <li><a href="/cheatsheets">/cheatsheets</a></li>
</ul>

